.body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #e0d0d0; /* Light brown background */
    font-family: Arial, sans-serif;
}
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a79090; /* White background */
    padding: 50px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    width: 500px;
    text-align: center;
    margin: 150px 350px ;
}
.container {
    width: 200px;
    margin-bottom: 20px;
}
.buttn{
    
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}
.button{
    background-color: khaki;
}